apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "vizivault-platform.fullname" (dict "root" . "app" .Values.vizivault.name) }}
  labels:
    app.kubernetes.io/name: {{ .Values.vizivault.name }}
    helm.sh/chart: {{ include "vizivault-platform.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ printf "vizivault-%s" .Values.vizivault.name }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ printf "vizivault-%s" .Values.vizivault.name }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ printf "vizivault-%s" .Values.vizivault.name }}
          image: {{ include "vizivault-platform.image" (dict "root" .Values "app" .Values.vizivault.image ) }}
          imagePullPolicy: {{ .Values.vizivault.image.pullPolicy }}
          {{- if .Values.containerSecurityContext }}
          securityContext: {{- include "common.tplvalues.render" (dict "value" .Values.containerSecurityContext "context" $) | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources:
            {{- toYaml .Values.vizivault.resources | nindent 12 }}
          env:
            - name: VIZIVAULT_ADMIN_USERNAME
              value: {{ .Values.vizivault.admin.username | quote }}
            - name: VIZIVAULT_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: vizivault-platform-secrets
                  key: vizivault-admin-password
            - name: VIZIVAULT_ADMIN_EMAIL
              value: {{ .Values.vizivault.admin.email | quote }}
            - name: VIZIVAULT_ADMIN_NAME
              value: {{ .Values.vizivault.admin.name | quote }}
            - name: SPRING_DATA_MONGODB_HOST
              value: {{ include "vizivault-platform.databaseHost" . | quote }}
            - name: SPRING_DATA_MONGODB_PORT
              value: {{ include "vizivault-platform.databasePort" . | quote }}
            - name: SPRING_DATA_MONGODB_USERNAME
              value: vizivault-platform
            - name: SPRING_DATA_MONGODB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "vizivault-platform.databaseSecretName" . }}
                  key: mongodb-password
            - name: SPRING_DATA_MONGODB_AUTHENTICATION_DATABASE
              value: {{ include "vizivault-platform.authDb" . | quote }}
            - name: SPRING_DATA_MONGODB_DATABASE
              value: webapp
            - name: SPRING_RABBITMQ_HOST
              value: {{ include "vizivault-platform.rabbitHost" . | quote }}
            - name: SPRING_RABBITMQ_PORT
              value: {{ include "vizivault-platform.rabbitPort" . | quote }}
            - name: SPRING_RABBITMQ_USERNAME
              value: {{ include "vizivault-platform.rabbitUser" . | quote }}
            - name: SPRING_RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ template "vizivault-platform.rabbitSecretName" . }}
                  key: rabbitmq-password
            - name: SPRING_RABBITMQ_VIRTUAL_HOST
              value: "/"
            - name: NOVA_SERVICE_URI
              value: {{ include "vizivault-platform.appUrl" .  | quote }}
            - name: NOVA_BROADCAST_URI
              value: "http://vizivault-platform-alerts-service"
            - name: NOVA_SIGNING_KEY
              valueFrom:
                secretKeyRef:
                  name: vizivault-platform-secrets
                  key: token-signing-key
      initContainers:
        - name: initialize-webapp
          image: us.icr.io/anontech/initializer:0.1.5
          args:
            - scripts/initialize-vizivault
          env:
            - name: MONGO_HOST
              value: {{ include "vizivault-platform.databaseHost" . | quote }}
            - name: MONGO_PORT
              value: {{ include "vizivault-platform.databasePort" . | quote }}
            - name: MONGO_USERNAME
              value: vizivault-platform
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "vizivault-platform.databaseSecretName" . }}
                  key: mongodb-password
            - name: MONGO_AUTH_SOURCE
              value: {{ include "vizivault-platform.authDb" . | quote }}
            - name: RABBIT_HOST
              value: {{ include "vizivault-platform.rabbitHost" . | quote }}
            - name: RABBIT_PORT
              value: {{ include "vizivault-platform.rabbitPort" . | quote }}
      {{- include "vizivault-platform.imagePullSecrets" . | nindent 6 }}
      {{- with .Values.vizivault.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.vizivault.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.vizivault.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- if .Values.podSecurityContext }}
      securityContext: {{- include "common.tplvalues.render" (dict "value" .Values.podSecurityContext "context" $) | nindent 8 }}
    {{- end }}
